@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My App</h1>
    <p class="lead">Please read the TechTest.pdf for guidence on what to build.</p>
    <p><a href="@Url.RouteUrl("UserList")" class="btn btn-primary btn-lg">Users &raquo;</a></p>
</div>

